<div class="wrapper">
    {{> sidebar span= user.username}}
    <div class="main-panel">
      {{> navbar}}
      <div class="content">
        <div class="container-fluid">
          <div class="row news">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-text">
                    <h4 class="card-title">Thêm mới Điểm Đón - Trả</h4>
                  </div>
                </div>
                <div class="card-body">
                  <form method="POST" action="/dashboard/station/store" class="form-horizontal">
                    <div class="row car-type">
                      <label class="col-sm-2 col-form-label">Điểm Đón - Trả</label>
                      <div class="col-sm-10">
                        <div class="form-group">
                          <input type="text" class="form-control" name="point" autocomplete="off">
                          <span class="bmd-help">Điểm đón - trả của chuyến xe</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="text-left">
                          <a href="/dashboard/station" class="btn btn-rose">Quay Lại</a>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="text-right">
                          <button type="submit" class="btn btn-rose">Thêm Mới</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
